.player-controls {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.track-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    margin-left: 15px;
    font-weight: 500;
  }
}

.audio-controls {
  display: flex;
  flex-direction: column;
  width: 50%;
  .track {
    width: 100%;
    height: 5px;
    background-color: #dddddd;
    margin: 20px 0
  }
  .thumb {
    width: 0;
    height: 5px;
    background: #616161;
  }
  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 150px;
  }
}

.audio-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 9px;
  border: none;
  color: #fff;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  &:active {
    opacity: 0.8;
  }
  &__prev, &__next {
    svg {
      fill: #b3b3b3;
    }
    &:hover {
      svg {
        path {
          fill: #fff;
          box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
  &__play, &__pause {   
    background: #fff;
    color: #000;

    &:hover {
      box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    }
  }
  &__pause {
    display: none;
    &--show {
      display: block;
    }
  }
  &__play {
    &--hide {
      display: none;
    }
  }
}

.volume {
  &__plus, &__minus {
    background: transparent;
    cursor: pointer;
    border: none;
  }
  &__plus {
    &:hover {
      svg {
        path {
          fill: #fff;
          box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
  &__minus {
    &:hover {
      svg {
        fill: #fff;
        path {
          box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.2);
        }
        
      }
    }
  }
}